<%= render 'users/user' , user:@user %>
<%= render 'books/book' , book:@book %>

<h1>Users詳細ページ</h1>
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>


<p><%= link_to "プロフィール編集", edit_user_path %></p>

<% @books.each do |book| %>
<h4>タイトル</h4>
 <%= book.title %>
<h4>感想</h4>
<%= book.body %>
<% end %>
